.app {
  max-width: 992px;
  margin: 0 auto;
}

.app-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.app-header-title {
  text-align: center;
  color: #fff;
  margin: 0px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}